@import "https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap";

.App {
  text-align: center;
  background-color: rgb(250, 250, 250); 
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





@media only screen and (max-width: 1130px){

  footer.footer .container{
      grid-template-columns: repeat(2, 1fr);
  }

}





@media only screen and (max-width: 750px){
  .quote {
      padding-top: 5rem;
      margin-top: 2em;
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      font-size:1.8em;
  }
  .quote i{
      font-size:1.8em;
  }
  .quote h1{
      color: rgba(255, 255, 255, 0.9);
      font-weight:500 ;
      font-size: 1.8em;
  }
  .move-up{
   display:none;
  }
   #testimonials{
      text-align: center;
      background-color: #161616;
      color: rgba(255, 255, 255, 0.9);
  }
  
  h2{
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.5;
  }
  
  .testimonial-image{
      width: 12%;
      border-radius: 100%;
      margin: 20px;
  }
  .carousel-item{
     
     padding: 7% 15%;
  }
  
  .carousel-item i{
      color: #b8864a;
  }

  footer.footer .container{
      grid-template-columns: repeat(1, 1fr);
  }
  .follow{
      text-align: center;
  }
}



@media only screen and (max-width: 520px){
 

  footer.footer .container > div{
      padding:  1rem .9rem !important;
  }

  footer .rights{
      padding: 0 1.4rem;
      text-align: center;
  }
}



@media only screen and (max-width: 768px) {
 
  .footer{
      text-align:center;
  }
}